<h1><%= @image.title %></h1>
<p>
<%= @category.name %>
</p>
<p>
<%= image_tag @image.url %>
</p>
<%= link_to 'Back to category', @category %> |
<%= link_to 'Edit', :controller => 'images', :action => 'edit' %>